flow_3.json
[
    {
        "id": "1d884e5ef7c1afd9",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f8bacb5d491d64c",
        "type": "mqtt in",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "topic": "sic/flow3/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "28762bb2c2363b52",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "6a5b72df97eb2993"
            ]
        ]
    },
    {
        "id": "6a5b72df97eb2993",
        "type": "json",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "aefd368b6285b1ca",
                "edacfbb4172a625d",
                "b8c84f9c374fb98e"
            ]
        ]
    },
    {
        "id": "aefd368b6285b1ca",
        "type": "function",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "c8b76664d5d06514"
            ]
        ]
    },
    {
        "id": "edacfbb4172a625d",
        "type": "function",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "1cdfb21464acb859"
            ]
        ]
    },
    {
        "id": "b8c84f9c374fb98e",
        "type": "function",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "0d44c8ba30409f51"
            ]
        ]
    },
    {
        "id": "c8b76664d5d06514",
        "type": "ui_text",
        "z": "1d884e5ef7c1afd9",
        "group": "dd70abe0.14cb38",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "1cdfb21464acb859",
        "type": "ui_gauge",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "group": "dd70abe0.14cb38",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d44c8ba30409f51",
        "type": "ui_chart",
        "z": "1d884e5ef7c1afd9",
        "name": "",
        "group": "dd70abe0.14cb38",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 690,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "28762bb2c2363b52",
        "type": "mqtt-broker",
        "name": "",
        "broker": "18.193.126.219",
        "port": "1883",
        "clientid": "rcs2170",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dd70abe0.14cb38",
        "type": "ui_group",
        "name": "OS",
        "tab": "6d54a11.6b2c0e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d54a11.6b2c0e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
